p.Sourcecode, li.Sourcecode, div.Sourcecode, pre.Sourcecode {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 12.0pt;
  margin-left: 0cm;
  text-align: left;
  line-height: 12.0pt;
  tab-stops: 20.15pt;
  font-size: 9.0pt;
  font-family: "Space Mono", monospace; }

p.Biblio, li.Biblio, div.Biblio {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 12.0pt;
  margin-left: 33.15pt;
  text-indent: -33.15pt;
  tab-stops: 33.15pt;
  line-height: 12.0pt;
  font-size: 11.0pt;
  font-family: "Overpass", sans-serif; }

p.FigureTitle {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 6.0pt;
  margin-left: 0cm;
  text-align: center;
  line-height: 12.0pt;
  page-break-before: avoid;
  tab-stops: 20.15pt;
  font-size: 11.0pt;
  font-weight: bold;
  font-family: "Overpass", sans-serif; }

p.TableTitle {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 6.0pt;
  margin-left: 0cm;
  text-align: center;
  page-break-after: avoid;
  line-height: 12.0pt;
  tab-stops: 20.15pt;
  font-size: 11.0pt;
  font-family: "Overpass", sans-serif; }

p.Note, div.Note, li.Note, p.TableFootnote, div.TableFootnote, li.TableFootnote {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 12.0pt;
  margin-left: 0cm;
  text-align: justify;
  line-height: 12.0pt;
  tab-stops: 20.15pt;
  font-size: 10.0pt;
  font-family: "Overpass", sans-serif;
  font-size: 10.0pt; }

p.ANNEX, li.ANNEX, div.ANNEX {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 24.0pt;
  margin-left: 0cm;
  text-align: center;
  text-indent: 0cm;
  line-height: 15.5pt;
  page-break-before: always;
  page-break-after: avoid;
  tab-stops: 20.15pt;
  font-size: 14.0pt;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.BiblioTitle, li.BiblioTitle, div.BiblioTitle {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 15.5pt;
  margin-left: 0cm;
  text-align: center;
  line-height: 15.5pt;
  tab-stops: 20.15pt;
  font-size: 14.0pt;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.Definition, li.Definition, div.Definition {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 12.0pt;
  margin-left: 0cm;
  text-align: justify;
  line-height: 12.0pt;
  tab-stops: 20.15pt;
  font-size: 11.0pt;
  font-family: "Overpass", sans-serif; }

p.ForewordTitle, li.ForewordTitle, div.ForewordTitle {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 15.5pt;
  margin-left: 0cm;
  text-align: justify;
  line-height: 15.5pt;
  page-break-before: always;
  page-break-after: avoid;
  tab-stops: 20.15pt;
  font-size: 14.0pt;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.IntroTitle, li.IntroTitle, div.IntroTitle {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 15.5pt;
  margin-left: 0cm;
  text-align: justify;
  line-height: 15.5pt;
  page-break-after: avoid;
  tab-stops: 20.15pt;
  font-size: 14.0pt;
  page-break-before: always;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.zzContents, li.zzContents, div.zzContents {
  margin-top: 48.0pt;
  margin-right: 0cm;
  margin-bottom: 15.5pt;
  margin-left: 0cm;
  line-height: 15.5pt;
  page-break-before: always;
  page-break-after: avoid;
  tab-stops: 20.15pt;
  font-size: 14.0pt;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.zzCopyright, li.zzCopyright {
  margin-top: 0cm;
  margin-right: 14.2pt;
  margin-bottom: 12.0pt;
  margin-left: 14.2pt;
  text-align: justify;
  line-height: 12.0pt;
  tab-stops: 20.15pt 25.7pt 481.15pt;
  padding: 0cm;
  font-size: 11.0pt;
  font-family: "Overpass", sans-serif; }

div.zzCopyright {
  border: solid windowtext 1.0pt;
  padding: 1.0pt 4.0pt 0cm 4.0pt;
  margin-left: 5.1pt;
  margin-right: 5.1pt; }

p.zzCopyright_address {
  margin-top: 0cm;
  margin-right: 14.2pt;
  margin-bottom: 0.0pt;
  margin-left: 14.2pt;
  text-autospace: none;
  padding-left: 20pt;
  font-size: 10.0pt;
  text-align: left; }

p.zzSTDTitle, li.zzSTDTitle, div.zzSTDTitle {
  margin-top: 20.0pt;
  margin-right: 0cm;
  margin-bottom: 38.0pt;
  margin-left: 0cm;
  line-height: 17.5pt;
  tab-stops: 20.15pt;
  font-size: 16.0pt;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.zzSTDTitle1, li.zzSTDTitle1, div.zzSTDTitle1 {
  margin-top: 0pt;
  margin-right: 0cm;
  margin-bottom: 18.0pt;
  margin-left: 0cm;
  line-height: 17.5pt;
  tab-stops: 20.15pt;
  font-size: 16.0pt;
  font-family: "Overpass", sans-serif;
  font-weight: bold; }

p.Quote, li.Quote, div.Quote {
  margin-top: 0cm;
  margin-right: 36.0pt;
  margin-bottom: 0cm;
  margin-left: 36.0pt;
  text-align: justify;
  line-height: 12.0pt;
  tab-stops: 20.15pt;
  font-size: 11.0pt;
  font-family: "Overpass", sans-serif; }

p.QuoteAttribution {
  text-align: right; }

p.Admonition, li.Admonition, div.Admonition {
  margin-top: 0cm;
  margin-right: 57.6pt;
  margin-bottom: 0cm;
  margin-left: 57.6pt;
  margin-bottom: .0001pt;
  border: none;
  padding: 0cm;
  font-size: 12.0pt;
  font-family: "Overpass", sans-serif;
  color: #4472C4;
  font-style: italic; }

p.Code, li.Code, div.Code {
  margin: 0cm;
  margin-bottom: .0001pt;
  line-height: 10.0pt;
  tab-stops: 20.15pt;
  font-size: 9.0pt;
  font-family: "Space Mono", monospace; }

p.Formula, li.Formula, div.Formula {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 11.0pt;
  margin-left: 20.15pt;
  line-height: 12.0pt;
  tab-stops: right 487.45pt;
  font-size: 11.0pt;
  font-family: "Overpass", sans-serif; }

@page WordSection1 {
  size: 595.3pt 841.9pt;
  margin: 39.7pt 53.85pt 1.0cm 53.85pt; }
div.WordSection1 {
  page: WordSection1; }

@page WordSection2 {
  size: 595.3pt 841.9pt;
  margin: 39.7pt 53.85pt 1.0cm 53.85pt; }
div.WordSection2 {
  page: WordSection2; }

@page WordSection3 {
  size: 595.3pt 841.9pt;
  margin: 39.7pt 53.85pt 1.0cm 53.85pt; }
div.WordSection3 {
  page: WordSection3; }

ol {
  margin-bottom: 0cm; }

ul {
  margin-bottom: 0cm; }

table.MsoISOTable {
  border-collapse: collapse;
  border: solid windowtext 2pt;
  font-size: 10.0pt;
  font-family: "Overpass", sans-serif; }

table.MsoISOTable tr {
  page-break-inside: avoid; }

table.MsoISOTable th {
  border: solid windowtext 1pt;
  padding: 0cm 2.85pt 0cm 2.85pt; }

table.MsoISOTable td {
  border: solid windowtext 1pt;
  padding: 0cm 2.85pt 0cm 2.85pt; }

table.MsoTableGrid {
  border: solid windowtext 1.0pt;
  font-size: 10.0pt;
  font-family: "Overpass", sans-serif; }

td {
  page-break-inside: avoid; }

tr {
  page-break-after: avoid; }

span.stem {
  font-family: "Cambria Math",serif;
  font-style: italic; }

div.formula {
  tab-stops: right 487.45pt; }

body {
  tab-interval: 36.0pt; }

dt {
  page-break-inside: avoid;
  page-break-after: avoid; }

.coverpage_docnumber {
  text-align: center;
  font-size: 14.0pt;
  font-weight: bold; }

.coverpage_techcommittee {
  text-align: center; }

.coverpage_docstage {
  text-align: center;
  font-size: 30.0pt;
  color: #485094; }

div.coverpage_warning {
  border: solid windowtext 1.0pt #485094;
  padding: 1.0pt 4.0pt 1.0pt 4.0pt #485094;
  margin-left: 4.25pt;
  margin-right: 4.25pt; }

.coverpage_warning {
  color: #485094;
  font-size: 10.0pt; }

a.TableFootnoteRef {
  vertical-align: super; }

aside {
  font-size: 10.0pt; }

div.example {
  border: solid black .25pt;
  padding: 10pt;
  margin: 10pt; }

table.dl {
  margin-top: 0cm;
  margin-right: 0cm;
  margin-bottom: 11.0pt;
  margin-left: 20.15pt; }

ol {
  margin-bottom: 0cm;
  margin-left: 0cm; }

ul {
  margin-bottom: 0cm;
  margin-left: 0cm; }
